@import "tailwindcss";


* {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-neutral-900 text-neutral-100 font-sans overflow-hidden;
}
